.wema {
    width: 100%;
}
.wema-con {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.wema-con h1 {
    font-size: 38px;
    text-align: center;
    margin-top: 1rem;
}
.wema-con .underline {
    height: 2px;
    width: 130px;
    background: #CED0D0;
    margin-left: 35rem;
}
.content {
    margin-top: 2.5rem;
    display: flex;
}
.content .left {
    width: 50%;
    margin-left: 2rem;
}
.content .left .image {
    height: 50vh;
    background: url('../../assets/Wema-Bank.jpg') no-repeat center center/cover;
    margin-bottom: 30px;
}
.content .left h2 {
    font-size: 30px;
    font-weight: 600;
}
.wema-con .left .under {
    height: 2px;
    width: 180px;
    margin-top: .5rem;
    margin-bottom: 1rem;
    background: #CED0D0;
}
.content .left p {
    font-size: 16px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content .right {
    width: 50%;
}
.content .right p {
    font-size: 16px;
    margin-top: 7rem;
}
